{% if collection.all_products_count > 0 %}
{% for product in collection.products %}
<h2><a href="{{ product.url }}">{{ product.title }}</a></h2>
{{ product.description }}
{% if product.featured_image %}
{{ product.featured_image | image_url: width: 400 | image_tag }}
{% endif %}
{% endfor %}
{% else %}
<p>Sorry, there are no products in this collection</p>
{% endif %}
