{% layout none %}
{% if shop.password_message and shop.password_message != '' %}
    {{ shop.password_message }}
{% else %}
    <p><span class="default-text">Will be opening soon...</span></p>
{% endif %}

{% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <label for="password">Enter store using password:</label>
    <input type="password" name="password">
    <input type="submit" value="Enter">
{% endform %}
